/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ===========My Css========= */

* {
	box-sizing: border-box;
}

body {
	font-family:"Open Sans",sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

header .banner {
	background-color: #222;
	display:grid;
	grid-template-rows: 2fr 5fr 1fr;
	width: 100%;
	padding: 15px 15px;
	height: 480px;
}

 header .banner .logoimage { 
	width: 100%;
	background-color:#c78c06;
} 


header .banner .navigation {
	display: grid;
	grid-template-rows: repeat(5);
	width: 100%;

}

header .banner .navigation .home {
	background-color: #c78c06;
	text-align: center;
	padding: 20px;
	color: #000;
}

.navigation li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #c78c06;
	font-size: large;
}

form {
	display: flex;
	gap: 5px;
	margin-top: 10px;

}
button {
    color: #c78c06;
    background-color:transparent;
    border: 2px solid #c78c06;
	height: 100%;
	aspect-ratio: 1;
  }

button i {
	font-size: 20px;
}

#keywords::placeholder {
	font-size:large;
} 

#keywords {
	flex-grow: 1;
}


