/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ===========My Css========= */

* {
	box-sizing: border-box;
}

body {
	font-family:"Open Sans",sans-serif;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/* ======This is the header part======== */

header .banner {
	background-color: #222;
	display:grid;
	grid-template-rows: 2fr 5fr 1fr;
	width: 100%;
	padding: 15px 15px;
	height: 480px;
}

 header .banner #logoimage { 
	width: 100%;
	background-color:#c78c06;
} 


header .banner .navigation {
	display: grid;
	grid-template-rows: repeat(5,1fr);
	width: 100%;

}

header .banner .navigation .home {
	background-color: #c78c06;
	text-align: center;
	padding: 20px 0;
	color: #000;
	
	
}

.navigation li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #c78c06;
	font-size: large;
}

form {
	display: flex;
	gap: 5px;
	margin-top: 10px;

}
button {
    color: #c78c06;
    background-color:transparent;
    border: 2px solid #c78c06;
	height: 100%;
	aspect-ratio: 1;
  }

button i {
	font-size: 20px;
}

#keywords::placeholder {
	font-size:large;
} 

#keywords {
	flex-grow: 1;
}

/* ========This is the homepage part========= */

.homepage {
	width: 100%;
	position: relative;
}

.homepage  img{
	width: 100%;
	height: auto;
	
}

.banner-content {
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	top: 50%;
	left: 50%;
	text-align: left;
	background: rgba(0, 0, 0, 0.5);
	width: 100%; 
	box-sizing: border-box;
	transform: translate(-50%, -50%); 
	padding: 20px;
}

.banner-content h1 {
	margin: 0;
	font-size: 4rem; 
	font-weight: bold;
	line-height: 1.5;

}

.banner-content p {
	line-height: 1.5;
	padding: 20px 0;
}

.banner-content a {
	text-decoration: none;
	color:black;
	display: inline-block;
	background-color: #c78c06;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
}

.banner-content a i {
	font-size: 2rem;
	vertical-align: middle;
/* ====words and the triangle are align together==== */
}

/* ========This is the About Us page====== */

.aboutus {
	display: block;
	background-color: #ffe6ac;
	padding: 10px;
}

.aboutus h2 {
	font-size:3rem;
	font-weight: bold;
	line-height: 2;
}

.aboutus p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 0;
	font-weight:500;
}

.aboutus img {
	width: 100%;
	height: auto;
}

/* ========This is the Our service Part====== */

.service {
	display: block;
}

.service h2 {
	font-size:3rem;
	font-weight: bold;
	padding: 20px 0;
}

.service .digitaltransfomation {
	display: block;
	background-color:#ffe6ac;
	margin-bottom: 20px;
}

.service .digitaltransfomation img {
	width: 100%;
	height: auto;
}

.service .digitaltransfomation  h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
	
}

.service .digitaltransfomation p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:500;
}

.service .digitaltransfomation a {
	text-decoration: none;
	color:white;
	display: inline-block;
	background-color: black;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 20px;
}

/* ===========marketing part============= */

.service .marketing {
	display: block;
	background-color:#ffe6ac;
	margin-bottom: 20px;
}

.service .marketing img {
	width: 100%;
	height: auto;
}

.service .marketing  h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
	
}

.service .marketing p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:500;
}

.service .marketing a {
	text-decoration: none;
	color:white;
	display: inline-block;
	background-color: black;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 20px;
}

/* =======videoproduction part=========== */

.service .videoproduction {
	display: block;
	background-color:#ffe6ac;
	margin-bottom: 20px;
}

.service .videoproduction img {
	width: 100%;
	height: auto;
}

.service .videoproduction  h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
	
}

.service .videoproduction p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:500;
}

.service .videoproduction a {
	text-decoration: none;
	color:white;
	display: inline-block;
	background-color: black;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 20px;
}

/* =========webdevelopment part========= */

.service .webdevelopment {
	display: block;
	background-color:#ffe6ac;
	margin-bottom: 20px;
}

.service .webdevelopment img {
	width: 100%;
	height: auto;
}

.service .webdevelopment  h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
	
}

.service .webdevelopment p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:500;
}

.service .webdevelopment a {
	text-decoration: none;
	color:white;
	display: inline-block;
	background-color: black;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 20px;
}

/* ==========print part=========== */

.service .print {
	display: block;
	background-color:#ffe6ac;
	margin-bottom: 20px;
}

.service .print img {
	width: 100%;
	height: auto;
}

.service .print  h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
	
}

.service .print p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:500;
}

.service .print a {
	text-decoration: none;
	color:white;
	display: inline-block;
	background-color: black;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 20px;
}

/* ========Our Vision========= */

.vision {
	height: 320px;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 20px 0;
}


.vision img {
	width: 100%;
	object-fit: cover;         
    object-position: center;      
    height: 100%;        
}

.vision-content {
	position: absolute;
	top: 5%;
	left: 50%;
	background-color:transparent;
	color:white;
	text-align: left;
	width: 100%; 
	box-sizing: border-box; 
	padding: 20px;
	transform: translateX(-50%);
	
}

.vision-content h3 {
	font-size: 2rem;
	font-weight: bold;
	padding: 10px;
}

.vision-content p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 10px;
	font-weight:500;
}

.vision-content a {
	text-decoration: none;
	color: white;
	display: inline-block;
	background-color:#11253d;
	padding: 30px  45px;
	font-size: 1.5rem;
	text-align: center;
	margin: 10px 0px;
	border:2px solid #c78c06;
}

/* ==========This is the Team Part========= */

.team {
	display: block;
	margin-bottom: 20px;
}

.johndoe {
	display: block;
	margin-bottom: 20px;
}

.team h2 {
	font-size:3rem;
	font-weight: bold;
	line-height: 2;
}

.johndoe img {
	width: 100%;	
}

.text-johndoe {
	background-color: #ffe6ac;
}

.text-johndoe h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
}

.text-johndoe p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:600;
}

.text-johndoe hr {
	border: 0; 
	height: 2px; 
	background-color:#c78c06;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 0;
}

/* =======This is the bob part======== */

.bob {
	display: block;
	margin-bottom: 20px;
}

.bob img {
	width: 100%;	
}

.text-bob {
	background-color: #ffe6ac;
}

.text-bob h3 {
	font-size: 2rem;
	color: #000;
	font-weight: bold;
	padding: 20px
}

.text-bob p {
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 10px 20px;
	font-weight:600;
}

.text-bob hr {
	border: 0; 
	height: 2px; 
	background-color:#c78c06;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 0;
}

/* -- This is the contact us form --> */

.contactus {
	margin-top:100px;
	margin-bottom: 15px;
}

.contactus h2 {
	font-size:3.5rem;
	font-weight: 700;
	padding: 30px 30px;
}

.contactus .contactform h3 {
	font-size:2.2rem;
	font-weight: 750;
	padding: 5px 30px;
}

.contactus .contactform form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0 30px;
}

.contactus .contactform form textarea {
	width: 100%;
	height: 150px;
	border: 1.5px solid black;
}

.contactus .contactform form input {
	width: 100%;
	height: 40px;
	border: 1.5px solid black;
}

.contactus .contactform form button {
	background-color: black;
	border: none;
	width: 80px;
	height: 30px;
	font-size: 25px;
}


/* ======This is the operation part======= */

.operation h3 {
	font-size:2.2rem;
	font-weight: 750;
	padding: 20px 30px;
}

.operation .grid-table {
	display: grid;
	grid-template-columns: 3fr 2fr;	
	border: 1px solid black;
	grid-auto-rows: 50px;
	margin: 20px 30px;
	

}

.operation .grid-table .header{
	display: flex;
	background-color: #ffe6ac;
	justify-content: center;
	align-items: center;
	
}

.operation .grid-table div {
	border: 1px solid black;
}

.operation .grid-table div:nth-child(n+3){
	display: flex;
	justify-content:left;
	padding: 15px 20px;
}


/* =======This is the location part======== */

.location {
	margin:0 auto;
}

.location h3 {
	font-size:2.2rem;
	font-weight: 750;
	padding: 20px 30px;
}

.location iframe {
	width: 100%;
	padding: 0 30px;
	height: 400px;
}


/* ==========This is the footer part */

.footer {
	width: 100%;
	text-align: left;
	padding: 16px 30px;
	background-color: #000;
	height: 100px;
	margin:0 auto;
}

.footer p {		
	font-size: 1rem;
	color:#c78c06;
	line-height: 2;	
}










/* =========This is media query======== */




@media screen and (min-width: 760px) {


	/* ==========This is the banner part======== */


	header .banner {
		background-color: #222;
		display:flex;
		width: 100%;
		height: 120px;
		align-items: center;
		padding: 0 7.5%; 
		justify-content: center;
	
	}
	
	#logoimage {
		width: 70px;  
		height: 70px; 
		max-width: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	#logoimage img {
		width: 100%;     
		height: 100%;    
		object-fit: contain; 
	}
	

	
	header .banner .navigation {
		display: flex;
		gap: 20px;
		margin: 50px;
		justify-content: space-evenly;
		align-items: center;
	
	}
	
	header .banner .navigation .home {
		text-align: center;
		padding: 20px;
		color: #000;
	}
	
	header .banner .navigation li {
		display: inline-block;
		text-align: center;
		
	}


	.navigation li a {
	    text-align: center;
		text-decoration: none;
		color: #c78c06;
		font-size: large;
	}
	
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	header .banner form input {
		
		font-size: 1.5rem; 
		width: 80%; 
		height: 40px; 
		font-size: large; 
		min-width: 150px;
	}
	
	button {
		color: #c78c06;
		background-color:transparent;
		border: 2px solid #c78c06;
		height: 100%;
		aspect-ratio: 1;
	  }
	
	button i {
		display: flex;
		font-size: 25px;
		justify-content: center;
		align-items: center;
		
	}
	
	#keywords::placeholder {
		font-size:large;
	} 
	
	#keywords {
		flex-grow: 1;
	}
	
}	


/* =======This is the homepage part =========*/

@media screen and (min-width: 760px) {
	.homepage {
		width: 100%;
		height: 500px;
		position: relative;
		overflow: hidden;
	}
	
	.homepage  img{
		position: absolute;
		width: 100%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
				
	}
	
	.banner-content {
		position: absolute;
		background-color:rgba(0, 0, 0, 0.5);
		color:white;
		top: 50%;
		left: 50%;
		text-align: left;
		background: rgba(0, 0, 0, 0.5);
		width: 85%; 
		box-sizing: border-box;
		transform: translate(-50%, -50%); 
		padding: 15px;
		height: 400px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	

	}
	
	.banner-content h1 {
		margin-right: 80px;
		font-size: 3rem; 
		font-weight: bold;
		line-height: 1.5;
		max-width: 500px;
	
	}
	
	.banner-content p {
		line-height: 1.5;
		padding: 20px 0;
	}
	
	.banner-content a {
		text-decoration: none;
		color:black;
		display: inline-block;
		background-color: #c78c06;
		padding: 20px  30px;
		font-size: 1rem;
		text-align: center;
		max-width: 200px;
	}
	
	.banner-content a i {
		font-size: 1.5rem;
		vertical-align: middle;
	/* ====words and the triangle are align together==== */
	}
	
	/* ========This is the About Us page====== */
	
	.aboutus {
		display: grid;
		background-color: #ffe6ac;
		padding: 10px 7.5%;
		justify-content: center; 
        align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
	
	.aboutus h2 {
		grid-row: 1;
		grid-column: 2;
		font-size:2rem;
		font-weight: bold;
		margin-bottom: 0;
	}
	
	.aboutus p:first-of-type{
		grid-row: 2;
		grid-column: 2;
		font-size: 0.7rem;
		line-height: 1.2;
		margin-top: 0;
	}

	.aboutus p:nth-of-type(2){
		grid-row: 3;
		grid-column: 2;
		font-size: 0.7rem;
		line-height: 1.2;

	}
	
	.aboutus img {

		grid-column: 1;
		grid-row: 1 / 4;
		width: 400px;
		height: auto;
		padding-right: 10px;
	}
	
	/* ========This is the Our service Part====== */
	
	.service {
		display: block;
		padding:0 7.5%;
	}
	
	.service h2 {
		font-size:3rem;
		font-weight: bold;
		padding: 20px 0;
	}
	
	.service .flexbox-service {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}


	.service .digitaltransfomation {
		flex-basis: calc(50% - 10px);
		display: flex;
		flex-direction: column;
		background-color:#ffe6ac;
		margin-bottom: 20px;
	}
	
	.service .digitaltransfomation img {
		width: 100%;
		height: auto;
	}
	
	.service .digitaltransfomation  h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px;
		
	}
	
	.service .digitaltransfomation p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 10px 20px;
		font-weight:500;
	}
	
	.service .digitaltransfomation a {
		text-decoration: none;
		color:white;
		display: inline-block;
		background-color: black;
		padding: 30px  45px;
		font-size: 1rem;
		text-align: center;
		margin: 20px 20px;
		width: 90%;
	}
	
	/* ===========marketing part============= */
	
	.service .marketing {
		flex-basis: calc(50% - 10px);
		display: flex;
		flex-direction: column;
		background-color:#ffe6ac;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	
	.service .marketing img {
		width: 100%;
		height: auto;
	}
	
	.service .marketing  h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px;
		
	}
	
	.service .marketing p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 10px 20px;
		font-weight:500;
	}
	
	.service .marketing a {
		text-decoration: none;
		color:white;
		display: inline-block;
		background-color: black;
		padding: 30px  45px;
		font-size: 1rem;
		text-align: center;
		width: 90%;
		margin-bottom: 0%;
		/* margin: 5%; */
	}
	
	/* =======videoproduction part=========== */
	
	.service .videoproduction {
		position: relative;
		flex-basis: calc(33% - 10px);
		min-width: 150px;
		display: flex;
		flex-direction: column;
		background-color:#ffe6ac;
		margin-bottom: 20px;
		padding-bottom: 100px;
	}
	
	.service .videoproduction img {
		width: 100%;
		height: auto;
	}
	
	.service .videoproduction  h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px;
		
	}
	
	.service .videoproduction p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 5% 10%;
		font-weight:500;
	}
	
	.service .videoproduction a {
		position: absolute;
		bottom: 2px;
		text-decoration: none;
		color:white;
		display: inline-block;
		background-color: black;
		padding: 30px  45px;
		font-size: 1rem;
		text-align: center;
		margin: 5%;
		width: 90%;
		height: 80px;
		flex-shrink: 0;
		flex-grow: 0;
		white-space: nowrap;

	}
	
	/* =========webdevelopment part========= */
	
	.service .webdevelopment {
		position: relative;
		flex-basis: calc(33% - 10px);
		display: flex;
		flex-direction: column;
		background-color:#ffe6ac;
		margin-bottom: 20px;
		padding-bottom: 100px;
	
	}
	
	.service .webdevelopment img {
		width: 100%;
		height: auto;
	}
	
	.service .webdevelopment  h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px;
		
	}
	
	.service .webdevelopment p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 5% 10%;
		font-weight:500;
	}
	
	.service .webdevelopment a {
		position: absolute;
		bottom: 2px;
		text-decoration: none;
		color:white;
		display: inline-block;
		background-color: black;
		padding: 30px  45px;
		font-size: 1rem;
		text-align: center;
		margin: 5%;
		width: 90%;
		height: 80px;
		flex-shrink: 0;
		flex-grow: 0;
		white-space: nowrap;
	}
	
	/* ==========print part=========== */
	
	.service .print {
		position: relative;
		flex-basis: calc(33% - 10px);
		display: flex;
		flex-direction: column;
		background-color:#ffe6ac;
		margin-bottom: 20px;
		padding-bottom: 100px;
	}
	
	.service .print img {
		width: 100%;
		height: auto;
	}
	
	.service .print  h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px;
		
	}
	
	.service .print p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 5% 10%;
		font-weight:500;
	}
	
	.service .print a {
		position: absolute;
		bottom: 2px;
		text-decoration: none;
		color:white;
		display: inline-block;
		background-color: black;
		padding: 30px  45px;
		font-size: 1rem;
		text-align: center;
		margin:  5%;
		width: 90%;
		height: 80px;
		flex-shrink: 0;
		flex-grow: 0;
		white-space: nowrap;
		/* align-content: flex-end; */
	}
	
	/* ========Our Vision========= */
	
	.vision {
		height: 260px;
		position: relative;
		width: 100%;
		overflow: hidden;
		margin: 20px 0;
	}
	
	
	.vision img {
		width: 100%;
		object-fit: cover;         
		object-position: center;      
		height: 100%;        
	}
	
	.vision-content {
		position: absolute;
		top: 5%;
		left: 50%;
		background-color:transparent;
		color:white;
		text-align: left;
		width: 100%; 
		box-sizing: border-box; 
		padding: 20px;
		transform: translateX(-50%);
		
	}
	
	.vision-content h3 {
		font-size: 1.5rem;
		font-weight: bold;
		padding: 10px;
	}
	
	.vision-content p {
		font-size: 0.9rem;
		line-height: 1.5;
		padding: 10px 10px;
		font-weight:500;
	}
	
	.vision-content a {
		text-decoration: none;
		color: white;
		display: inline-block;
		background-color:#11253d;
		padding: 25px 35px;
		font-size: 1rem;
		text-align: center;
		margin: 10px 0px;
		border:2px solid #c78c06;
	}
	
	/* ==========This is the Team Part========= */
	
	.team {
		display: block;
		margin-bottom: 20px;
		padding: 0 7.5%;
	}

	.team .teambox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;	
	}
	
	.johndoe,
	.bob {
		display: contents;
	}
    

	.team h2 {
		font-size:2.5rem;
		font-weight: bold;
		line-height: 2;
	}
	
	.img-johndoe {
		grid-column: 1;
		grid-row: 1;	
		/* width: 100%;	 */
	}
	
	.text-johndoe {
		grid-column: 2;
		grid-row: 1;
		background-color: #ffe6ac;
	}
	
	.text-johndoe h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px
	}
	
	.text-johndoe p {
		font-size: 0.7rem;
		line-height: 1.5;
		padding: 10px 20px;
		font-weight:600;
	}
	
	.text-johndoe hr {
		border: 0; 
		height: 2px; 
		background-color:#c78c06;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 0;
	}
	
	/* =======This is the bob part======== */
	

	.img-bob {
		grid-column: 2;
		grid-row: 2;
		/* width: 100%;	 */
	}
	
	.text-bob {
		grid-column: 1;
		grid-row: 2;
		background-color: #ffe6ac;
	}
	
	.text-bob h3 {
		font-size: 1.5rem;
		color: #000;
		font-weight: bold;
		padding: 20px
	}
	
	.text-bob p {
		font-size: 0.7rem;
		line-height: 1.5;
		padding: 10px 20px;
		font-weight:600;
	}
	
	.text-bob hr {
		border: 0; 
		height: 2px; 
		background-color:#c78c06;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 0;
	}
	
	/* -- This is the contact us form --> */
	
	.contactus {
		margin-top:10px;
		margin-bottom: 15px;
		padding: 0 7.5%;
		display: flex;
		flex-direction: column;
	
	}
	
	.contactus h2 {
		font-size:2.5rem;
		font-weight: 700;
		padding: 30px 30px;
	}

	.contactbox {
		display: flex;
		flex-wrap: wrap;
		
	}

	.contactform {
		flex:1;
		order: 1;
	}
	


	.contactus .contactform h3 {
		font-size:1.5rem;
		font-weight: 750;
		padding: 5px 30px;
	}
	
	.contactus .contactform form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 30px;
	}
	
	.contactus .contactform form label {
		display: block; 
		width: 100%; 
		margin-bottom: 5px; 
		font-size: 1rem; 
	}


	.contactus .contactform form textarea {
		width: 100%;
		height: 150px;
		border: 1.5px solid black;
	}
	
	.contactus .contactform form input {
		width: 100%;
		height: 40px;
		border: 1.5px solid black;
	}
	
	.contactus .contactform form button {
		background-color: black;
		border: none;
		width: 80px;
		height: 30px;
		font-size: 25px;
	}
	
	
	/* ======This is the operation part======= */
	
	.operation {
		width: 100%;
		order: 3;
	}
	
	.operation h3 {
		font-size:1.5rem;
		font-weight: 750;
		padding: 20px 30px;
	}
	
	.operation .grid-table {
		display: grid;
		grid-template-columns: 3fr 2fr;	
		border: 1px solid black;
		grid-auto-rows: 50px;
		margin: 20px 30px;
		
	
	}
	
	.operation .grid-table .header{
		display: flex;
		background-color: #ffe6ac;
		justify-content: center;
		align-items: center;
		
	}
	
	.operation .grid-table div {
		border: 1px solid black;
	}
	
	.operation .grid-table div:nth-child(n+3){
		display: flex;
		justify-content:left;
		padding: 15px 20px;
	}
	
	
	/* =======This is the location part======== */
	
	.location {
		flex: 1;
		margin:0 auto;
		order: 2;
	}
	
	.location h3 {
		font-size:1.5rem;
		font-weight: 750;
		padding: 20px 30px;
	}
	
	.location iframe {
		width: 100%;
		padding: 0 30px;
		height: 400px;
	}
	
	
	/* ==========This is the footer part */
	
	.footer {
		width: 100%;
		text-align: left;
		padding: 16px 30px;
		background-color: #000;
		height: 100px;
		margin:0 auto;
	}
	
	.footer p {		
		font-size: 1rem;
		color:#c78c06;
		line-height: 2;	
	}
	
}